/* event detial page styles */

#eventDetailContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#eventDetailContainer > a {
	all: unset;
	color: #2c0876;
	margin-top: 2rem;
	outline: #2c0876 solid 0.15rem;
	padding: 0.7rem;
	border-radius: 0.5rem;
	font-size: 1.05rem;
	font-weight: bold;
	transition: 0.5s;
}

#eventDetailContainer > a:hover {
	cursor: pointer;
	background-color: #2c0876;
	color: white;
}

#detailsCon {
	display: flex;
	flex-direction: column;
	height: 18rem;
	min-width: 25rem;
	outline: solid #2c0876 0.15rem;
	border-radius: 0.5rem;
}

#detailsCon > h1 {
	padding: 1rem;
	border-bottom: solid #2c0876 0.15rem;
}

#detailsCon > div > h3 {
	text-decoration: underline;
	padding: 0.5rem 1rem 0.2rem;
}

#detailsCon > div > p {
	padding: 0rem 1rem 0.5rem;
}
