/* home styles */

#homeContainer {
	padding-top: 4.4rem;
	display: grid;
	grid-template-columns: 1fr 3.5fr;
	min-height: 100vh;
}

#deleteSelected {
	display: grid;
	place-items: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.3rem;
	width: 12rem;
	height: 2.3rem;
	margin-top: 0.5rem;
	border: #ed1a5d 0.15rem solid;
	background-color: white;
	color: #ce1751;
	font-size: 1rem;
	font-weight: bold;
	transition: 0.5s;
}

#deleteSelected:hover {
	cursor: pointer;
	background-color: #ed1a5d;
	color: white;
}
