/* navbar styles */

#navbar {
	position: fixed;
	width: 100%;
	background-color: #ed1a5d;
	color: white;
	padding: 0.5rem 2rem;
	border-bottom-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

#navbar > a {
	text-decoration: unset;
	color: white;
	cursor: pointer;
}

#navbar > a:hover {
	color: rgb(221, 219, 219);
}
