* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#footer {
	position: relative;
	bottom: 0;
	margin-top: auto;
	padding: 2rem;
	display: grid;
	place-items: center;
	background-color: #2c0876;
	color: whitesmoke;
}
